body {
	background-color:#dcebf9;
}

header {
	padding-bottom:0.5%;
}
h1 {
	text-align: center; 
	font-size:40px;
	font-style: bold;
}
h2 {
	text-align: center; 
	font-size:35px;
	font-style: bold;
}
p {
  font-size:20px; 
  margin:30px;
  padding: 3px;
  text-align:left;
}	

li {
	margin:0;
	font-size:20px;
	text-align:left;
	height:100%;
	list-style-type:none;
}

nav {
    height:50px;
	display:flex;
	background-color:#4363da;
	padding:0;
}

br {
	margin:5px;
}

ul {
	padding:0;
}

nav a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

nav a {
	text-decoration:none;
}
nav a:hover {
  background-color: #334ea1;
}

nav a:active {
  color: black;
  background-color: transparent;
}

/*MAIN///////////////////////////////////*/
.main-div {
	padding-top:5px;
	margin-left:20%;
	margin-right:20%;
	height:600px;
	background-color: #7d95e8;
	border-radius:2%;
	-webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.8);
	box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.8);
}
.main-div p{
	line-height:40px;
	font-size:25px;
	margin-left:8%;
	margin-right:8%;
	width:80%;
}
/*ABOUT///////////////////////////////Z*/
.about-main {
	font-weight:bold;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;

}
.about-div-first {
	display:flex;
	padding-top:5px;
	margin-bottom:20px;
	margin-top:10px;
	background-color: #7d95e8;
	justify-content:space-around;
	-webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	
}

.aim-task-div {
	margin-bottom:20px;
	background-color:#98b5e8;
	height:500px;
	display:flex;
	padding-top:5px;
	justify-content:space-around;
	-webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
}

.target-audience-div {
	margin-bottom:20px;
	background-color:#7d95e8;
	padding-top:5px;
	height:500px;
	-webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
}

.project-struture-div {
	padding-top:5px;
	background-color:#98b5e8;
	height:500px;
	-webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.79);
	
}
.options-list {
	width: 100%;
    margin: 0; 
    padding: 0;
    list-style: none; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
	

.options-list li {
     display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #ddd; 
}

.options-list a {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 0 10px; 
}

.members-list {
	box-sizing: border-box;
	justify-content:space-around;
	display:flex;
	font-size:25px;
}

.TA-list {
	box-sizing: border-box;
	justify-content:end;
	display:flex;
	padding-bottom:5px;
	
}

.actual p{
	line-height:35px;
	font-size:25px;
}

.problematica {}

.task li{
	line-height:35px;
	font-size:25px;
}

.aim p{
	line-height:35px;
	font-size:25px;
}
/*END OF ABOUT/////////////////////////*/
/*JOURNAL//////////////////////////*/
.news {
	margin-top:2%;
	height:80%;
	margin-left:20%;
	margin-right:20%;
	background-color:#2245c3;
	color:#dfddd8;
	scroll-snap-type: x mandatory;
	overflow-x:auto;
	overflow-y:hidden;
	scrollbar-width: thin;
	white-space:nowrap;
	box-sizing: border-box;
	border-radius:7% 7% 0% 0%;
	
}


.new {
	scroll-snap-align: start;
	display:inline-block;
	min-width: 100%;
	vertical-align:top;
    box-sizing: border-box;
	height:70vh;
}
.new h2 {
	padding:2%;
	background-color: #0b1741;
	margin:0;
	border-radius:7% 7% 0% 0%;
}
.new p {
	padding-left:3%;
	font-size:25px;
	height:80vh;
	background-color:#5271e0;
    margin: 0 auto; 
	max-width:80%;
	white-space:normal;
}

/*END OF JOURNAL/////////////////////////*/


/*RESOURCES//////////////////////////*/
.res-logo {
	display:flex;
	align-items:center;
	justify-content:space-beetwen;
	gap:20px;
}
.res-logo img {
	transition: margin-bottom 0.3s ease;
}
}
.logo {
	margin-left:20%;
}
.res-div {
	margin-top:0;
	margin-left:10%;
	margin-right:10%;
	height:35em;
	color:#dfddd8;
}

.res-div li:hover{
	padding-left:5%;
	background-color:#7d94e8;
}
.res-div li{
	padding-left:3%;
}


.references {
	border-radius:0% 0% 5% 5%;
	padding-top:2%;
	height:90%;
	background-color: #334ea1;
	
}

.res-div h1 {
	color:#dfddd8;
	padding:20px;
	padding-top:10px;
	background-color:#29365e;
	margin-bottom: 0;
}


.references a {
	margin:0;
	text-decoration:none;
	font-size:25px;
}


.references a:visited {
		color:#dfddd8;
	
}
.references a:hover {
	color:#110838;
	
}
.references a:active {
	color:black;
	
}
/*END OF RESOURCES///////////////////*


/*MEMBERS///////////////////*/
.members-div {
	padding-top:5px;
	height:600px;
	background-color: #7d95e8;	
}

.member-card {
	background-color: #5271e0;
	border-radius:3%;
	-webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.8);
	box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.8);
	
}
/*END OF MEMBERS/////////////////////*

/*REFERNCES///////////////////////////////*/
.res-ref {
	background-color: #334ea1;
}
.main-ref {
	background-color: #334ea1;
}
.journal-ref {
	background-color: #334ea1;
}
.members-ref {
	background-color: #334ea1;
}
.about-ref {
	background-color: #334ea1;
}